/*
    Custom Styles
*/


/* Sticky footer styles
-------------------------------------------------- */
html, body {
 height: 100%;
  /* The html and body elements cannot have any padding or margin. */
 overflow: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 /* Negative indent footer by it's height */
 margin: 0 auto -40px;
}




#app-body {
 overflow: hidden; 
 position:absolute; 
 top: 50px; 
 left:10px; 
 right:10px; 
 bottom:50px; 
}

#app-body .cont, #app-body  .controls, #app-body .well, #app-body  .console-cont, #console {
 height: 100% !important; 
 min-height: 100% !important; 
 margin-bottom: 0px; 
 margin-top: 0px;
 padding: 0px;
}

#console, #app-body .well {
 border: 1px solid #0088CC;
 -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
 box-sizing: border-box !important;   
}

#console {
 width:100%;
}


/* Set the fixed height of the footer here */
#footer {
 /* background-color: #f5f5f5; */
 border-top: 1px solid #999999;
}

img.loading-active {
 display: block;
 z-index: 1000;
}

img.loading-inactive {
 display: none;
}

#loading {
 position: absolute; 
 top: 10px; 
 left: 50%; 
 margin-left: 8px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
 #footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
 }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.row-fluid .credit {
 margin: 10px 10px 0px 10px;
}

